/*  ------------------------------------------------ Authentication ------------------------------------------------ */
.authentication-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 5%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.textInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 10%;
}

.textInputs :focus {
  outline: none;
}

.password-forgotten {
  color: white;
  font-weight: lighter;
}

.submitButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10%;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  padding: 5% 0;
}

.regularAuthentication-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-bottom: #fccda1 1px solid;
  padding-bottom: 2%;
  margin-bottom: 2%;
  width: 20%;
}

.google-button {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20%;
  padding: 1% 0;
  border-radius: 30px;
  border: none;
  color: #fccda1;
  border: 1px solid #fccda1;
}

.google-button > * {
  display: flex;
  margin: 1%;
}

button {
  transition: 0.5s;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.headline {
  color: #fccda1;
  font-weight: bold;
}

.switchAuthentication-button {
  cursor: pointer;
}

.clickableText-animation {
  transition: font-size 0.5s;
}

.clickableText-animation:hover {
  cursor: pointer;
  font-size: 1.1em;
}

.switchAuthentication-text {
  color: white;
  font-weight: lighter;
}
