.textInput-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 1px #fff;
  margin-bottom: 5%;
  width: 100%;
}

.textInput-innerContainer {
  border-left: solid 1px #fff;
  width: 80%;
  padding: 1%;
  padding-left: 4%;
}

.textInput-input {
  width: 100%;
  background-color: transparent;
  color: white;
  border: none;
}

.textInput-label {
  color: white;
  font-weight: lighter;
  margin-bottom: 1%;
}

.error {
  border-color: red;
}
